.text{
    color:$off-white;
}

.title{
    margin-top: 20px;
}

.big-text{
    font-size: $l-size;
}

.fidback{
    margin-top: 200px;
}
.little-text{
    font-size: $m-size;
}

.center-to-the-right{
    margin-right: center;
}